node_modules
dist

# Environment variables
.env
.env.*

# Firebase credentials
serviceAccountKey.json
firebase-*.json

# Prisma
/generated/prisma
*.db
*.db-journal

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
